.question-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-top: 1.5rem;
}

.submit-btn, .cancel-btn {
    padding: 0.5rem 3rem;
}